:root {
    // font variables
    --primary-font: 'Rubik',
        sans-serif;
    --secondary-font: 'Poppins',
        sans-serif;

    // text color variables
    --primary-text-color: #005570;
    --secondary-text-color: #2DAFD7;

    // background color variables
    --primary-back-color: #F3FCFF;
    --secondary-back-color: #99BBC6;
    --accent-back-color: #F6F6F6;
}